<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="normal/base2::layout(~{::section})">
<head>
<meta charset="ISO-8859-1">
<title>User Dashboard</title>
</head>
<body>
	
	<section>
		<div class="container">
			<div class="card">
				<div class="card-body">
					<div class="container text-center">
						<img src="" th:src="@{'/image/'+${user.imageUrl}}" class="profile" style="height: 200px; width: 200px;"/>
					</div>
					<h1 class="text-center m-2" th:text="${user.name}"></h1>
				<table class="table text-center m-2">
							  <tbody>
								  
							    <tr>
							      <th scope="row"><i class="fa-solid fa-user"></i></th>
							      <th>SCMUSER<span th:text="${user.id}"></span></td>
							     
							    </tr>
							    
							     <tr>
							      <th scope="row"><i class="fa-solid fa-location-pin"></i></th>
							      <th><span th:text="${user.role}"></span></td>
							     
							    </tr>
						
							  
							    <tr>
							      <th scope="row"><i class="fa-solid fa-envelope"></i></th>
							      <th><span th:text="${user.email}"></span></td>
					
							    </tr>
							    
							    <tr>
							      <th scope="row"><i class="fa-solid fa-circle-info"></i></th>
							      <th><span th:text="${user.about}"></span></td>
					
							    </tr>
							   
							    </tbody>
							   
					</table>
			</div>
			</div>
		</div>
	</section>

</body>
</html>